---
import LogoImage from "./LogoImage.astro";
import LogoVideo from "./LogoVideo.astro";
---

<header class="mt-20">
    <nav
        class="flex flex-row justify-center space-x-10 max-[360px]:flex-col
        max-[360px]:items-center max-[360px]:space-x-0 max-[360px]:space-y-5"
    >
        <ul class="text-2xl font-semibold flex flex-row gap-10">
            <li class="hover:scale-110 transition">
                <a href="/" class="text-gray-200">
                    <LogoImage />
                    Images
                </a>
            </li>
            <li class="hover:scale-110 transition">
                <a class="text-gray-200" href="/gallery">
                    <LogoVideo />
                    Videos
                </a>
            </li>
        </ul>
    </nav>
</header>
