<header class="mt-10">
    <nav
        class="flex flex-row justify-center space-x-10 max-[360px]:flex-col 
        max-[360px]:items-center max-[360px]:space-x-0 max-[360px]:space-y-5"
    >
        <ul class="text-white text-3xl font-semibold"><a href="">Home</a></ul>
        <ul class="text-white text-3xl font-semibold"><a href="">About</a></ul>
        <ul class="text-white text-3xl font-semibold"><a href="">Gallery</a></ul>
    </nav>
</header>
